{% extends 'layout/base.html' %}

{% block title %}member/login{% endblock %}

{% block style %}
/* 로그인 폼 배치하기 */
form { /*border: 1px solid red;*/ width :400px;
    margin: 100px auto}
form div { margin-top: 10px }
form label { display: inline-block; width: 120px;
        text-align: right; font-weight: bold }

/* 회원가입 폼 버튼 위치 설정 */
form button:first-child { margin-left: 130px }

#userid:hover, #userid:hover { background: aliceblue }
#passwd:focus, #passwd:focus { background: lemonchiffon }
{% endblock %}

{% block content %}
        <h2>로그인</h2>
        <form name="loginfrm" method="post">
        <div><label for="userid" >아이디</label>
            <input type="text" name="userid" id="userid">
        </div>

        <div><label for="passwd">비밀번호</label>
            <input type="password" name="passwd" id="passwd">
        </div>

        <div><label></label>
        <button type="submit">로그인</button>
        </div>
        </form>
{% endblock %}
{% block jscript %}{% endblock %}