{% extends 'layout/base.html' %}

{% block title %}member/myinfo{% endblock %}

{% block style %}
/* 로그인한 회원의 정보 테이블 배치*/
table { border: 1px solid red;
    margin: 120px auto }

/* 회원 정보 각행에 여백 주기 */
th, td { padding: 10px }

/* 회원 정보 테이블의 제목 정렬하기 */
th { text-align: right }
{% endblock %}

{% block content %}
{# 만약, 로그인되어있다면, #}
{#  회원가입 페이지는 보여지면 안됨 #}
{% if not request.session.userid %}
    <script>
        alert('회원전용페이지입니다!');
        location.href='/login';
    </script>
{% endif %}
    <h2>회원정보</h2>
    <table>
        <tr><td>아이디</td> <td>{{ member.userid }}</td></tr>
        <tr><td>이름</td> <td>{{ member.name }}</td></tr>
        <tr><td>이메일</td> <td>{{ member.email }}</td></tr>
        <tr><td>가입일</td> <td>{{ member.regdate }}</td></tr>
    </table>
{% endblock %}

{% block jscript %}{% endblock %}